/* line 1, ../scss/_base.scss */
body {
  background-color: #bdc6ff;
  width: 100%;
}

/* line 6, ../scss/_base.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 10, ../scss/_base.scss */
.word {
  margin: 20px;
  padding: 3px 6px;
  background-color: white;
  border: solid .05px black;
}

/* line 20, ../scss/_base.scss */
#nouns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 38, ../scss/_base.scss */
.right {
  min-height: 700px;
  float: right;
  width: 44vw;
  height: 100%;
  display: block;
}

/* line 48, ../scss/_base.scss */
.wordgallery {
  height: 100%;
  padding: 4vw;
}

/* line 56, ../scss/_base.scss */
#poetryzone {
  position: absolute;
  height: 100%;
  width: 55vw;
  float: left;
  background-color: white;
}
/* line 63, ../scss/_base.scss */
#poetryzone #drophere {
  padding: 4vw;
  height: 80%;
}
