body {
	background-color: #bdc6ff;
	width: 100%;
}

*,*:before,*:after {
	box-sizing:border-box
}

	.word {
		margin:20px;
		padding: 3px 6px;
		background-color: white;
		border: solid .05px black;

	}



#nouns{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-between;


}

// #dropback {

// 	.word {
// 		margin: 20px;
// 	}
// }



.right {
	min-height: 700px;
    float: right;
    width: 44vw;
    height: 100%;
    display: block;


}

.wordgallery {
	height: 100%;
	padding: 4vw;



}

#poetryzone {
    position: absolute;
    height: 100%;
    width: 55vw;
    float: left;
    background-color: white;

    #drophere {
   	padding: 4vw;
   	height: 80%;

    }

}

// #dropback {
// height: 100vh;
// background-color: blue;


// }